<html>
<head>
<title>Words With Bears - Move. Speak. Learn.</title>
<meta name="description" content="Kinetic Language Learning Language with the Kinect." />
<link rel="stylesheet" type="text/css" href="stylesheets/bears.css" />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
<script type="text/javascript" src="javascripts/clearfield.js"></script> 
<script type="text/javascript"> 
	$(document).ready(function() {
		$('.clearField').clearField();
	});
	</script>
</head>

<body>

<div class="center_header">
<img src="images/top.jpg" />
</div>

<!-- Begin the meat of it -->
<br/>
<div class="center clearfix" style="text-align: center; padding-top: 5px">
<div class="center">
<img src="images/bottom-bg-top.png" />
</div>
<div class="center block" style="text-align: center; padding-top: 5px; width: ">
<div style="padding-left: 15px; font-size: 16px; width: 200px; text-align: left" class="center">
This will be a sentence or two about how awesome we are! And a team picture or action shots  or a video...
</div>
</div>
<div class="center">
<img src="images/bottom-bg-bottom.png" />
</div>
</div>

<!-- End Meat -->

<!-- Begin the Form & add this buttons -->

<div class="center">
<img src="images/bottom-bg-top.png" />
</div>

<div class="center block">
    <div style="padding-left: 40px">
    
        <form action="/sign" method="post" style="text-align:center">
        <span class="text">Find out more:</span>
        
        <input id="input" name="email" class="clearField" value="Enter your email" type="text" />
        <input id="input" name="language" class="clearField" value="Enter a Lanugage you want to learn" type="text" />
        <input id="btn" class="button" type="submit" value="submit" />
        </form>
        
        <br/>
    
        <div class="center" style="width: 400px">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ec9829e6e8642a0"></script>
        <!-- AddThis Button END -->
        </div>
    
    </div>
</div>

<div class="center">
<img src="images/bottom-bg-bottom.png" />
</div>

<!-- End the Form and Add this sections -->

<br/>
<div class="center">
<img src="images/bottom-bg-top.png" />
</div>

<div class="center block" style="text-align: center; padding-top: 5px; width: ">

<div style="padding-left: 15px; font-size: 16px; width: 200px; text-align: left" class="center">
Judy Tuan <a href="http://twitter.com/judytuna">@judytuna</a><br />
Jen Arguello <a href="http://twitter.com/engijen">@engijen</a><br />
Lukas Blakk <a href="http://twitter.com/lsblakk">@Lsblakk</a><br />
James Elkin is on <a href="http://facebook.com/jhe44">Facebook</a><br />
Elsa Kim <a href="http://twitter.com/elsagold">@elsagold</a><br />
</div>
</div>
<div class="center">
<img src="images/bottom-bg-bottom.png" />
</div>

<br/><br/>
<div class="center_footer" style="width: 150px; font-size: 12px">
&copy; A bear-ific experience
</div>

</body>
</html>